{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <form action="{% url 'olx:parser' %}" method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">Парсинг</button>
        </form>
        <br>
    </div>

<table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                {% for advert in adverts %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{advert.title}}</td>
                    <td>{{advert.price}}</td>
                    <td>{{advert.published}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


</div>

{% endblock content%}