absl-py==0.9.0
altgraph==0.17
apiai==1.2.3
appdirs==1.4.4
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
comtypes==1.1.7
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
decorator==4.4.2
distlib==0.3.1
Eel==0.13.2
fake-useragent==0.1.11
fawkes==0.3.2
filelock==3.0.12
flake8==3.8.3
future==0.18.2
gast==0.2.2
gevent==20.6.2
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==0.4.16
grpcio==1.31.0
gunicorn==20.0.4
h5py==2.10.0
hyperlink==20.0.1
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
itemadapter==0.1.0
itemloaders==1.0.2
jmespath==0.10.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyboard==0.13.5
lxml==4.5.2
Markdown==3.2.2
mccabe==0.6.1
numpy==1.16.4
opencv-python==4.4.0.42
opt-einsum==3.3.0
packaging==20.4
parse==1.16.0
parsel==1.6.0
pefile==2019.4.18
Pillow==7.2.0
Protego==0.1.16
protobuf==3.12.4
py-telegram-bot==1.0.post3
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.2
pyflakes==2.2.0
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pynput==1.6.8
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
pyppeteer==0.2.2
pyquery==1.4.1
Pyrogram==0.18.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.2
python-telegram-bot==12.8
pyttsx3==2.90
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
queuelib==1.5.0
random-user-agent==1.0.1
requests==2.24.0
requests-html==0.10.0
scipy==1.5.2
Scrapy==2.3.0
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
telegram-notifier==0.2
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tornado==6.0.4
tqdm==4.48.2
Twisted==20.3.0
urllib3==1.25.10
virtualenv==20.0.28
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
